.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .form{
        padding: 1rem;
        border-radius: 1rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: flex-end;
        &.bg__primary{
            background: linear-gradient(45deg, var(--backdrop-secondary), var(--backdrop-primary));
        }
        &.bg__secondary{
            background: linear-gradient(45deg, var(--backdrop-primary), var(--backdrop-third));
        }
        &.bg__third{
            background: linear-gradient(45deg, var(--backdrop-third), var(--backdrop-fourth));
        }
        &__input{
            outline: none;
            border: none;
            padding: .5rem 1rem;
    
            border: 1px solid transparent;
            border-radius: 1rem;  
            &:focus{
                border: 1px solid var(--primary-color);
            }
        }
    }
}